<!doctype 5>
<head>
  <title>timgur</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" 
    type="image/png" 
    href="images/favicons/icon.png">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Receive top imgur post of the day via SMS!" data-via="tejasmanohar">Tweet</a>
  
  <div class="main">
    <h1>timgur</h1>

    <div id="embed_signup">
      <label for="tagline">Receive top <a href="http://imgur.com/">imgur</a> post of the day via SMS!</label>
      <label>Sign up now to receive tomorrow's edition.</label>
      <form action="/subscribe" method="post" id="embedded-subscribe-form" class="validate">
        <input type="tel" pattern="(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}" name="number" id="tagline" placeholder="phone number" required>
        <input type="submit" value="Go" name="subscribe" id="embedded-subscribe" class="button">
      </form>
      <p class="small">No Ads. No Games. No Gimmicks.</p>
    </div>

    <p class="name">Created by <a href="https://tejas.io" target="_blank">Tejas Manohar</a>.</p>
  </div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
